{% extends "base.html" %} {%load static%} {% block content %}
<h2>{{user.username}} - {{user.id}}</h2>
<div class="d-flex p-4 justify-content-center">
<div class="col-lg-7 col-10"><form class="" action="{%url 'profile'%}" method="post" >
<h3 class="mb-2">update profile<h3>
{% csrf_token %}
<input
          type="text"
          class="form-control mb-2"
          placeholder="{{user.first_name}}"
          name="fname"
          id="fname"
        />
<input
          type="text"
          class="form-control mb-2"
          placeholder="{{user.last_name}}"
          name="lname"
          id="lname"
        />
<input
          type="text"
          class="form-control mb-2"
          placeholder="{{user.profile.bio}}"
          name="bio"
          id="bio"
        />
      
<button type="submit" class="btn btn-secondary">Update</button>
</form> 
<a href="{%url 'deleteProfile'%}" class="btn btn-danger"">Delete Profile</a>
</div>

</div>

{% endblock %}
